*.o
*~
.cproject
.project
.settings/
*.iso
iso/kernel32
iso/kernel64
kernel32
kernel64
kernel32.sym
kernel64.sym
kernelARM
kernelARM.sym
*.o.32
*.o.64
*.o.86.PC
*.o.64.PC
*.o.ARM.RPI
*.o.ARM.STM
*.a
docs/html