*.o
*~
.cproject
.project
.settings/
*.iso
iso/kernel86_PC
iso/kernel64_PC
kernel86_PC
kernel64_PC
kernel86_PC.sym
kernel64_PC.sym
kernelARM
kernelARM.sym
*.o.32
*.o.64
*.o.86_PC
*.o.64_PC
*.o.ARM.RPI
*.o.ARM.STM
*.a
docs/html
